html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(88, 73%, 83%, 0.938);
    background-color: hsl(4, 99%, 37%);
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

figure {
    display: block;
    background-color:  hsl(4, 100%, 50%);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

div {
    display: block;
    background-color:  hsl(4, 100%, 50%);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

  

p {
    font-size: 1.5rem;
}

div > p::first-letter {
    font-size: 2rem;
}

#tribute-info {
    display: block;
    margin: 10px 20% auto 20%;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.63);
}
